.vscode/
Makefile
CMakeFiles/
cmake_install.cmake
cmake_uninstall.cmake
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CMakeCache.txt
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.pc
CPackConfig.cmake
CPackSourceConfig.cmake
spdlogConfig.cmake
spdlogConfigVersion.cmake
glfw_config.h
glfw3Config.cmake
glfw3ConfigVersion.cmake
vendor/glfw/docs/**
build/
